*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #333;
  height: 100dvh;
  display: grid;
  place-items: center;
}

main {
  width: 100%;
  height: 100%;
  max-width: 768px;
  max-height: 500px;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 2rem;
  border: 2px solid #111;
  background-color: #fafafa;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-btn {
  color: black;
}
